:root {
    --primary-page-font: 'Roboto',sans-serif;
    --secondary-page-font: 'Raleway',sans-serif;
    --primary-page-color: #212121;
    --secondary-page-color:#757575;
    --accent-page-color: #2196F3;
    
}

/* ================COMPONENTS================ */
body {
    font-family: var(--primary-page-font);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/* ================HEADER================ */
.logotype {
        font-family: var(--secondary-page-font)
        font-weight: 700;
        font-size: 26px;
        line-height: 1.20;
        letter-spacing: 0.03em;
        color: var(--accent-page-color);
}

span {
    color:#000

}
.menu-link {
        font-family:var(--primary-page-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    
        color: var(--primary-page-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-page-color)
}

.contacts-link {
        font-family: var(--primary-page-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-page-color);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-page-color);
    cursor: pointer;
}
/* ================/HEADER================ */
/* ================HERO================ */
.hero-title {
        font-family: var(--primary-page-font);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        /* color: #FFF; */
}
.model-btn {
        font-family: var(--primary-page-font);
        background: #2196F3;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        color: #FFFFFF;
}
.model-btn:hover,
.contacts-link:focus {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* ================/HERO================ */
/* ================ADVANTEGES================ */
.advantages-title {
        font-family: var(--primary-page-font);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-page-color);
}
.advantages-text {
        font-family: var(--primary-page-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-page-color);
}
/* ================/ADVANTEGES================ */
/* ================ABOUT================ */
.about-mail-title {
        font-family: var(--primary-page-font);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-page-color);
}
/* ================/ABOUT================ */
/* ================EMPLOYEES================ */
.employees-main-title {
        font-family: var(--primary-page-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-page-color);
}
.employees-secondary-title {
        font-family: var(--primary-page-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-page-color);
}
.employees-text {
        font-family: var(--primary-page-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-page-color);
}
/* ================/EMPLOYEES================ */
/* ================/FOOTER================ */
.footer-logo {
        font-family: var(--secondary-page-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:var(--accent-page-color);
}

/* span {
    color:#FFFFFF
} */

.footer-link-map {
        font-family: var(--primary-page-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        /* color: #FFFFFF; */
}
.footer-link {
        font-family:var(--primary-page-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
/* ================/FOOTER================ */

